# Dependencies
node_modules
npm-debug.log*

# Environment variables
.env*
!.env.example

# Logs
logs
*.log

# Build output
dist

# Tests
src/tests
coverage

# Development files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md
docs

# Docker
Dockerfile*
docker-compose*.yml